<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_URL</key>
	<string>$(APP_STORE_URL)</string>
	<key>AMPLITUDE_API_KEY</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
				<string>com.googleusercontent.apps.619615909665-c9j3gs1vqmvi64rhb9i9ikg6dnpdghc0</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
	</array>
	<key>MUSIC_BASE_URL</key>
	<string>$(MUSIC_BASE_URL)</string>
	<key>SPOTIFY_BASIC_AUTH</key>
	<string>$(SPOTIFY_BASIC_AUTH)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Paperlogy-1Thin.ttf</string>
		<string>Paperlogy-2ExtraLight.ttf</string>
		<string>Paperlogy-3Light.ttf</string>
		<string>Paperlogy-4Regular.ttf</string>
		<string>Paperlogy-5Medium.ttf</string>
		<string>Paperlogy-6SemiBold.ttf</string>
		<string>Paperlogy-7Bold.ttf</string>
		<string>Paperlogy-8ExtraBold.ttf</string>
		<string>Paperlogy-9Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>619615909665-c9j3gs1vqmvi64rhb9i9ikg6dnpdghc0.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>619615909665-o6l3i6de7i7l1msfjrvl9qu43scp08bj.apps.googleusercontent.com</string>
</dict>
</plist>
